// Banner Starts Here
.banner.header-text
  .owl-banner.owl-carousel
    .banner-item-01
      .text-content
        h4 Best Offer
        h2 New Arrivals On Sale
    .banner-item-02
      .text-content
        h4 Flash Deals
        h2 Get your best products
    .banner-item-03
      .text-content
        h4 Last Minute
        h2 Grab last minute deals
// Banner Ends Here