.latest-products
  .container
    .row
      .col-md-12
        .section-heading
          h2 Latest Products
          // include this
          a(href='products.html')
            | view all products 
            i.fa.fa-angle-right
      .col-md-4
        .product-item
          a(href='#')
            img(src='assets/images/product_01.jpg' alt='')
          .down-content
            a(href='#')
              h4 Tittle goes here
            h6 $25.75
            p
              | Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
            ul.stars
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
            span Reviews (24)
      .col-md-4
        .product-item
          a(href='#')
            img(src='assets/images/product_02.jpg' alt='')
          .down-content
            a(href='#')
              h4 Tittle goes here
            h6 $30.25
            p
              | Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
            ul.stars
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
            span Reviews (21)
      .col-md-4
        .product-item
          a(href='#')
            img(src='assets/images/product_03.jpg' alt='')
          .down-content
            a(href='#')
              h4 Tittle goes here
            h6 $20.45
            p Sixteen Clothing is free CSS template provided by TemplateMo.
            ul.stars
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
            span Reviews (36)
      .col-md-4
        .product-item
          a(href='#')
            img(src='assets/images/product_04.jpg' alt='')
          .down-content
            a(href='#')
              h4 Tittle goes here
            h6 $15.25
            p
              | Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
            ul.stars
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
            span Reviews (48)
      .col-md-4
        .product-item
          a(href='#')
            img(src='assets/images/product_05.jpg' alt='')
          .down-content
            a(href='#')
              h4 Tittle goes here
            h6 $12.50
            p
              | Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
            ul.stars
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
            span Reviews (16)
      .col-md-4
        .product-item
          a(href='#')
            img(src='assets/images/product_06.jpg' alt='')
          .down-content
            a(href='#')
              h4 Tittle goes here
            h6 $22.50
            p
              | Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
            ul.stars
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
            span Reviews (32)
.best-features
  .container
    .row
      .col-md-12
        .section-heading
          h2 About Sixteen Clothing
      .col-md-6
        .left-content
          h4 Looking for the best products?
          p
            a(rel='nofollow' href='https://templatemo.com/tm-546-sixteen-clothing' target='_parent') This template
            |  is free to use for your business websites. However, you have no permission to redistribute the downloadable ZIP file on any template collection website. 
            a(rel='nofollow' href='https://templatemo.com/contact') Contact us
            |  for more info.
          ul.featured-list
            li
              a(href='#') Lorem ipsum dolor sit amet
            li
              a(href='#') Consectetur an adipisicing elit
            li
              a(href='#') It aquecorporis nulla aspernatur
            li
              a(href='#') Corporis, omnis doloremque
            li
              a(href='#') Non cum id reprehenderit
          a.filled-button(href='about.html') Read More
      .col-md-6
        .right-image
          img(src='assets/images/feature-image.jpg' alt='')
.call-to-action
  .container
    .row
      .col-md-12
        .inner-content
          .row
            .col-md-8
              h4
                | Creative &amp; Unique 
                em Sixteen
                |  Products
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.
            .col-md-4
              a.filled-button(href='#') Purchase Now